<%- include('./partials/header.ejs') %> 
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/home">Blogger</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/home">Home</a>
        </li>
        
        
        
        <% if(!is_authenticated) { %> 
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/register">Sign up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/login">Log In</a>
        </li>
        <% } %> 
        <% if(is_authenticated) { %> 
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/blogs">Your Blogs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/compose">Create blog</a>
          </li>
          <% } %> 
        <% if(is_authenticated) { %> 
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/logout">Logout</a>
        </li>
        <% } %> 
        
       
    </div>
  </div>
</nav>
<div class="container mt-5">
    <form action="/compose" method="POST">
        <h3 class="mb-3"><i class="fa-solid fa-feather-pointed "></i> Pen down your thoughts...</h3>
        <input type="text" name="title" class="form-control" placeholder="Enter title" required>
        <textarea name="content" cols="30" rows="10" class="mt-3 form-control" placeholder="Enter content here....  " required></textarea>
        <!-- <input type="submit" class="btn btn-md btn-danger mt-3" value="Publish">  -->
        <br>
        <input
            type="hidden"
            role="uploadcare-uploader"
            data-public-key="bbc0a8d1e693ec2ff8f8"
            data-tabs="file camera url gdrive gphotos"
            data-effects="crop, rotate, mirror, blur, enhance, grayscale, sharp, flip, invert"
        />
        <br>
        <input type="hidden" id="url" name="image" value="">
        <button type="submit" class="btn btn-md btn-success mt-3"><i class="fa-solid fa-upload"></i> Publish</button>
        <a href="/home"><button type="button" class="btn btn-secondary mt-3">Cancel</button></a>
    </form>
</div>
<script>
  const widget = uploadcare.Widget("[role=uploadcare-uploader]");

// listen to the "upload completed" event
widget.onUploadComplete(fileInfo => {
// get a CDN URL from the file info
// console.log(fileInfo.uuid);
// console.log(fileInfo.cdnUrl);
document.getElementById('url').value = fileInfo.cdnUrl
});
</script>
<%- include('./partials/footer.ejs') %> 